.grid-image {
  margin: 0.75em;
  cursor: pointer;
  transition: 0.05s all cubic-bezier(0.56, 0.19, 0.77, 0.68);
}

.grid-image:hover {
  transform: scale(1.01);
  transition: 0.05s all cubic-bezier(0.56, 0.19, 0.77, 0.68);
}

.modal-image {
  height: 85%;
}

.modal-info {
  margin: 0.5% 0;
}

.modal-tags {
  margin: 0.5% 0;
  font-size: 8px;
  width: 60%;
  color: dodgerblue;
  display: flex;
  flex-wrap: wrap;
}
